* {
background-color: #CEDFDF;
font-family: Arial, Helvetica, sans-serif;
}

.show-links {
    display: none;
}

.links a{
    margin: auto;
    width: 50%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: rosybrown;
    font-family: Arial, Helvetica, sans-serif;
}

.links a:hover{
    color: white;
}

.nav-toggle {
    background: transparent;
    border: none;
    color: rosybrown;
    size: 10rem;
    cursor: pointer;
    margin: auto;
    width: 50%;
    padding: 10px;
    display: block;
}

.nav-toggle:hover {
    color: white;
}

.logo {
    display: block;
    margin: auto;
    border: 1rem solid rosybrown;
    border-radius: 10%;
}

.carousel-container {
    width: 100%;
    position: relative;
    margin: auto;
}

.flower-wall-img {
    width: 90%;
    height: 80%;
    display: none;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    font-weight: bold;
    color: rosybrown;
    font-size: 3rem;
}

.tablet-img {
    display: none;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.next {
    right: 0;
}

#about {
    border-radius: 5%;
    border: 0.5rem dashed rosybrown;
    margin-top: 0.25rem;
}

.summary-about {
    font-family: Arial, Helvetica, sans-serif;
    color: rosybrown;
    padding: 0.25rem;
    cursor: pointer;
    margin-top: 0.25rem;
}

.summary-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
    padding: 0.25rem;
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.services-header {
    color: rosybrown;
}

.services-p {
    color: rosybrown
}

.services-img {
    height: 15rem;
    width: 17.5rem;
    border: .25rem solid rosybrown;
}

.actual-service {
    display: flex;
    justify-content: center;
}

.contact {
    color: rosybrown;
}

input, textarea, select, .submit {
    background-color: white;
    margin: 0.25rem;
    border-radius: 5%;
    border: .15rem solid rosybrown;
}

.submit:hover {
    cursor: pointer;
    background-color: rosybrown;
    color: white;
}

footer {
    display: inline-flex;
    justify-content: center;
}


.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-facebook, .fa-instagram {
    color: rosybrown;
}

/*media queries- tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #carousel {
        display: none;
    }

    .feature-img {
        width: 762px;
        height: auto;
        border: 3px solid rosybrown;
    }

    .tablet-img {
        display: flex;
        justify-content: center;
    }

    .tablet-img .tablet-hide {
        visibility: hidden;
        width: 120px;
        background-color: rosybrown;
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
    }

    .tablet-img:hover .tablet-hide {
        visibility: visible;
    }
    
    .flower-wall-img {
        width: 600px;
        height: 600px;
        display: none;
        margin: auto;
    }

    .services-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .actual-service {
        display: flex;
    }

    input {
        width: 35%;
    }
}

/*media queries- desktop/laptop */
@media screen and (min-width: 1024px) {
    .show-links {
        display: flex;
        justify-content: flex-start;
        text-align: center;
        margin: 20px auto;
    }

    .nav-toggle {
        display: none;
    }

    .flower-wall-img {
        width: 650px;
        height: 650px;
        display: none;
        margin: auto;
    }

    .services-container {
        display: flex;
        flex-direction: row;
    }

    input {
        width: 25%;
    }

    textarea {
        width: 25%;
    }
}